.back-to-top{
    position: fixed;
    right: 30px;
    bottom: 15px;
    z-index: 99;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    background-color: var(--green-general);
    color: var(--white-general);
    opacity: 0.7;
    animation: mobileBarGrowth 0.3s linear;
}

.back-to-top:hover{
    opacity: 1;
}