#header {
    background-color: var(--black-general);
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: all 0.2s ease;
}

.header-height__inherit {
    height: inherit;
}

#logo {
    width: 100%;
}

.navs {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 1.6rem;
    list-style-type: none;
    margin: 0;
}

.nav__list li:last-child {
    transform: rotate(90deg);
    color: var(--white-general);
    cursor: pointer;
}

.nav__list-item a {
    color: var(--white-general);
    text-decoration: none;
}

.nav__list li:last-child:hover,
.nav__list-item a:hover {
    color: var(--green-general);
    transition: all 0.1s step-end;
}

.sign-up {
    margin-left: auto;
    font-size: 1.6rem;
}

.sign-up_btn {
    background-color: var(--green-general);
    color: var(--white-general);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.8;
}

.sign-up_btn:hover {
    opacity: 1;
    transition: all 0.2s ease-in;
}

.navbar-mobile {
    position: relative;
    font-size: 2rem;
}

.navbar-mobile .navbar-mobile_btn {
    background-color: var(--green-general);
    color: var(--white-general);
    padding: 7px 15px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.nav-mobile__list {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--white-general);
    width: 200px;
    right: 0;
    top: 60px;
    list-style-type: none;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    z-index: -9999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.nav-mobile__list.nav-mobile-open {
    transform-origin: 90% top;
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    animation: mobileBarGrowth 0.3s linear;
}

.nav-mobile__list::after {
    content: "";
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--white-general);
    top: -19px;
    right: 15px;
}

.nav-mobile__list .nav-mobile__list-item {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    line-height: 2;
    font-size: 1.6rem;
}

.nav-mobile__list .nav-mobile__list-item:last-child {
    text-align: center;
}

.nav-mobile__list .nav-mobile__list-item a {
    text-decoration: none;
    color: var(--black-general);
}

.nav-mobile__list .nav-mobile__list-item button {
    background-color: var(--green-general);
    color: var(--white-general);
    padding: 0.6rem 4.8rem;
    border: none;
    border-radius: 5px;
}

.nav-mobile__list .nav-mobile__list-item button a {
    color: var(--white-general);
}

.navbar-mobile__icon {
    display: flex;
    gap: 1.5rem;
}

.mobile-search {
    font-size: 1.6rem;
    color: var(--white-general);
    margin-left: auto;
    align-self: center;
    transform: rotate(90deg);
    cursor: pointer;
}