/* Big Screen */
@media (min-width: 1920px) {}

/* PC */
@media (min-width: 1024px) {
    .padding-64 {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .navbar-mobile {
        display: none;
    }

    .subscribe-section {
        margin-bottom: -90px;
    }

    .footer-section {
        padding-top: 130px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px) {
    /* Navbar and logo */
    .nav-mobile__list {
        width: 350px;
    }

    .nav-mobile__list .nav-mobile__list-item {
        font-size: 2rem;
    }

    .nav-mobile__list .nav-mobile__list-item button {
        padding: 0.6rem 10.8rem;
    }

    /* Welcome section */
    .sub-img {
        display: none;
    }

    /* About us section */
    .about-us-section__content-heading,
    .about-us-section__content-body {
        max-width: 100%;
    }
}

/* Small Tablet */
@media(max-width: 912px) {
    /* Navbar and logo */
    #logo {
        width: 80%;
    }

    .nav__list,
    .sign-up {
        display: none;
    }

    .navbar-mobile {
        margin-left: auto;
    }

    /* Welcome section */
    .welcome-section__card {
        display: block !important;
    }

    .sub-img {
        display: none;
    }

    /* Info-section */
    .info-section__list-underline {
        width: 100%;
    }

    /* About us */
    .about-us-section__content-heading, .about-us-section__content-body{
        max-width: 100%;
    }
}

/* Mobile */
@media(max-width: 782px) {
    /* Carousel */
    .carousel {
        margin-top: auto;
    }

    .carousel-control-prev,
    .carousel-control-next,
    .carousel-caption {
        z-index: 0;
    }

    /* Welcome section */
    .welcome-section {
        padding: 12px;
    }

    .welcome-section .main-title {
        font-size: 3rem;
    }

    /* Info section */
    .padding-sm-24 {
        padding: 0 24px;
    }

    .info-section__list.info-section__list-underline {
        width: 100%;
    }

    .event-card,
    .member-cards .member-card {
        display: block;
    }

    .event-card img,
    .member-card img {
        width: -webkit-fill-available;
        object-fit: cover;
        aspect-ratio: 1;
    }

    /* Subscribe */
    .subscribe-section::after{
        display: none;
    }
}