:root{
    --black-general: #0E1400;
    --white-general: #fff;
    --green-general: #86C305;
    --green-rgba: rgba(148, 198, 49, 0.702);
    --text-color: #757575;
    --header-height: 8rem;
    --background-color-shadow: rgba(0, 0, 0, 0.7);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    height: 2000px;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

#main{
    overflow: hidden;
    z-index: -999999;
}

.text-green{
    color: var(--green-general);
}

.section{
    margin-top: 64px;
    margin-bottom: 64px;
}

.sub-title{
    font-size: 1.6rem;
    font-weight: 300;
    margin: 24px 0;
}

.main-title{
    font-size: 5rem;
}

.introduce{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 0 24px;
}

@keyframes mobileBarGrowth{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}