.welcome-section{
    line-height: 2;
    padding-right: 64px;
    padding-left: 64px;
}

.welcome-section .welcome-section__card{
    margin: 24px 0;
}

.welcome-section__card .welcome-section__card-img{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    background-image: url(../img/paw-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-section__card-content{
    margin-left: 2px;
}

.welcome-section__card .welcome-section__card-content-heading{
    font-size: 2rem;
    font-weight: 600;
}
.welcome-section__card .welcome-section__card-content-text{
    font-size: 1.6rem;
    color: var(--text-color);
}
